// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body, .modal-body {
background-color: antiquewhite;
}

.title, .price{
    color: Black;
    text-align: center;
}
.topmenu{
    text-align: center;
    background-color: rgb(241, 214, 178);
    border: none;
}
.modal-header, .modal-footer{
    background-color: rgb(241, 214, 178);
}

.ViewImage_url{
    float: center; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 30vh;
}
.modalsubheader{
    font-weight: bold;
}
